* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(54, 54, 54);
  }
  
  .p1{
    font-size: 18px;
    color: rgb(255, 222, 155);
    text-align: center;
  }
  
  .p2{
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  hr{
    margin: 40px;
  }
